In [14]:
#!pip install ipykernel
import duckdb
import ibis
import polars as pl
from openai import OpenAI
import json
import pandas as pd

In [17]:
# Connect to your DuckDB database using Ibis
con = ibis.duckdb.connect('samhsa_data.db')
dbcon = duckdb.connect('samhsa_data.db')
con.list_tables() # List the tables in the db")

['demographic_information', 'teds_a_raw_2015_2019']

In [14]:
# Create a table in DuckDB
#table_name = 'teds_a_raw_2015_2019'
#file_path = '../tedsa_puf_2015_2019.csv'

#query = f"""
#CREATE TABLE {table_name} AS
#SELECT *
#FROM read_csv_auto('{file_path}')
#"""
# Creating Table teds_a_raw_2015_2019
#dbcon.execute(query)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [24]:
create_table_query = """
CREATE TABLE demographic_information AS
SELECT
    CASEID AS case_id,                -- Unique identifier
    ADMYR AS year_of_admission,       -- Year of admission
    AGE AS age_at_admission,          -- Age at admission
    GENDER AS gender,                 -- Gender
    RACE AS race,                     -- Race
    ETHNIC AS ethnicity,              -- Ethnicity
    MARSTAT AS marital_status,        -- Marital status
    EDUC AS education_level,          -- Education level
    EMPLOY AS employment_status,      -- Employment status
    VET AS veteran_status,            -- Veteran status
    LIVARAG AS living_arrangements    -- Living arrangements
FROM
    teds_a_raw_2015_2019;
"""

# Execute the query to create the table
dbcon.execute(create_table_query)

# Define the query to select from the demographic_information table
select_query = "SELECT * FROM demographic_information LIMIT 100;"

# Execute the query and fetch the result
result = dbcon.execute(select_query).fetchall()

# Define the column names
column_names = [
    "case_id",
    "year_of_admission",
    "age_at_admission",
    "gender",
    "race",
    "ethnicity",
    "marital_status",
    "education_level",
    "employment_status",
    "veteran_status",
    "living_arrangements"
]

CatalogException: Catalog Error: Table with name "demographic_information" already exists!

In [21]:
#query = """
#DROP TABLE demographic_information 
#"""

#dbcon.execute(query)

In [25]:
# Create a Polars DataFrame with the correct column names
df = pd.DataFrame(result, columns=column_names)
# Close the connection
dbcon.close()

In [26]:
df.head()

,case_id,year_of_admission,age_at_admission,gender,race,ethnicity,marital_status,education_level,employment_status,veteran_status,living_arrangements
0,20151524993,2015,6,2,5,3,4,2,1,2,3
1,20151449532,2015,7,2,1,4,2,3,4,2,2
2,20151431263,2015,5,2,9,4,1,-9,4,2,2
3,20151401765,2015,9,2,1,-9,2,5,3,2,1
4,20151461771,2015,6,2,8,4,1,3,4,2,2

In [12]:
# Store your credentials in a json locally | Don't forget to add this file to your gitignore

credentials_path = 'credentials.json'

# Read Credential
with open(credentials_path, 'r') as file:
    credentials = json.load(file)

openai_api_key = credentials['openai_api_key']

# Pass this key to configure OpenAI's API client
client = OpenAI(api_key=openai_api_key)

In [ ]:
from openai import OpenAI
client = OpenAI()

completion = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "system", "content": "You are a poetic assistant, skilled in explaining complex programming concepts with creative flair."},
    {"role": "user", "content": "Compose a poem that explains the concept of recursion in programming."}
  ]
)

print(completion.choices[0].message)